@font-face {
   font-family: 'Play';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///Users/app/Documents/yaralink/yaralink/fonts/Play/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Play';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/app/Documents/yaralink/yaralink/fonts/Play/regular.ttf') format('truetype');
}
